.gradle
/local.properties
.idea
.DS_Store
/build
/captures
*.iml
.svn/
/app/*-release*.apk
/app/release/*.apk
/app/release/*.aab
/app/release/*.json
/app/release/*.txt
/app/debug/*.apk
/app/debug/*.json
/app/*-debug*.apk
app/app.iml
app/manifest-merger-release-report.txt
/app/mapping.txt
*/build/
*/library/build/
secret.xml
.project
.classpath
.externalNativeBuild/
*.db
/*.png
/*.log
/log
/*.jpg

